<template>
      <div class="card-box">
        <div class="slimscroll-menu" id="remove-scroll" style="position: relative; overflow: hidden; width: auto; ">
          <div class="inbox-widget slimscroll" style="max-height: 400px !important; overflow: hidden; width: auto;">
            <div class="mb-2" v-for="role in roles">
            <button type="button" class="btn btn-dark w-100 " data-toggle="collapse" :data-target="'#demo-'+role.id" aria-expanded="true"> {{role.name}}</button>
            <div :id="'demo-'+role.id" class="collapse show">
              <a href="javascript:void(0)" @click="selectUser(user)" v-for="user in role.users">
                <div class="inbox-item">
                  <div class="inbox-item-img">
                    <img src="/theme/admin/assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg" alt=""></div>
                  <p class="inbox-item-author">{{ user.name }}</p>
<!--                  <p v-if="user.messages.length > 0" class="inbox-item-text">{{ user.messages[user.messages.length-1].message }}</p>-->
<!--                  <p v-else class="inbox-item-text">Hey! there I'm available...</p>-->
<!--                  <p v-if="user.messages.length > 0" class="inbox-item-date">{{ user.messages[user.messages.length-1].created_at | formatDate }}</p>-->
                </div>
              </a>
            </div>
            </div>
<!--            <a href="javascript:void(0)" @click="selectUser(user)" v-if="users.length > 0" v-for="user in users">-->
<!--              <div class="inbox-item">-->
<!--                <div class="inbox-item-img">-->
<!--                  <img src="/theme/admin/assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg" alt=""></div>-->
<!--                <p class="inbox-item-author">{{ user.name }}</p>-->
<!--                <p v-if="user.messages.length > 0" class="inbox-item-text">{{ user.messages[user.messages.length-1].message }}</p>-->
<!--                <p v-else class="inbox-item-text">Hey! there I'm available...</p>-->
<!--                <p v-if="user.messages.length > 0" class="inbox-item-date">{{ user.messages[user.messages.length-1].created_at | formatDate }}</p>-->
<!--              </div>-->
<!--            </a>-->
          </div>
          <div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 260.266px;"></div>
          <div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
      </div>
</template>

<script>
import moment from 'moment';

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('hh:mm MM-DD-YYYY')
  }
});

export default {
  props: ['users', 'roles'],
  name: "allUsersComponent",
  data() {
    return {
      chats: [],
    }
    },
  created() {
    let self = this
  },
  methods: {
    selectUser(data) {
      this.$emit('userchanged', data)
    }
  }
}
</script>

<style>
.card-box {
  max-height: 300px;
  min-height: 300px;
}
</style>