<template>
  <div>
    <div class="card-body">
      <ul class="chat">
        <li class="left clearfix" v-for="message in messages.slice().reverse()" v-if="(message.receiver_id === receiver.id && message.sender_id === user.id) || (message.sender_id === receiver.id && message.receiver_id === user.id)">
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">
                {{ message.sender.name }}
              </strong>
            </div>
            <p>
              {{ message.message }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="input-group">
        <input id="btn-input" type="text" name="message" class="form-control" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">
        <span class="input-group-btn">
          <button class="btn btn-primary" id="btn-chat" @click="sendMessage">
            Send
          </button>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['user', 'receiver'],
  data() {
    return {
      selectedUser: '',
      messages: [],
      newMessage: '',
      message: '',
    }
  },
  mounted() {

  },
  created() {
    let self = this
    this.fetchMessages();
    Echo.private('chat')
        .listen('MessageSent', (e) => {
          self.fetchMessages();
        });
  },

  methods: {
    fetchMessages() {
      let self = this
      axios.get(APP_URL+'/messages').then(response => {
        self.messages = response.data;
        console.log(response.data)
      });
    },
    addMessage(message) {
      this.messages.push(message);
      axios.post(APP_URL+'/messages', message).then(response => {

      });
    },
    sendMessage() {
      let self = this
      this.message = {
        user: this.user,
        message: this.newMessage,
        receiver: this.receiver,
        sender: this.user
      }
      console.log(this.receiver)
      // this.messages.push(message);
      axios.post(APP_URL+'/messages', this.message).then(response => {
        self.messages = response.data.messages
      });
      this.newMessage = ''
    },
  }
};
</script>

<style>
.chat {
  max-height: 300px;
  min-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.chat-body {
  min-height: 50px;
}
</style>