<template>
  <div class="card-footer">
  <div class="input-group">
    <input id="btn-input" type="text" name="message" class="form-control" placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">
    <span class="input-group-btn">
      <button class="btn btn-primary" id="btn-chat" @click="sendMessage">
        Send
      </button>
    </span>
  </div>
  </div>
</template>

<script>
export default {
  props: ['user', 'receiver'],

  data() {
    return {
      newMessage: '',
      message: '',
    }
  },

  methods: {
    sendMessage() {
      let self = this
      this.message = {
        user: this.user,
        message: this.newMessage,
        receiver: this.receiver,
        sender: this.user
      }
      console.log(this.receiver)
      // this.messages.push(message);
      axios.post(APP_URL+'/messages', this.message).then(response => {
        console.log(self.$refs.chatrefs.messages, response.data.messages)
        // self.$refs.chatMessages.messages = response.data.messages
      });
      this.newMessage = ''
    }
  }
}
</script>