<template>
  <div class="row">
    <div class="col-lg-4">
      <b-card>
        <b-card-header>All Users</b-card-header>

        <div class="card-body">
          <all-user-list
              v-on:userchanged="userChanged"
              ref="all-users"
              :users="users"
              :roles="roles"
          ></all-user-list>
        </div>
      </b-card>
    </div>
    <div class="col-lg-8">
      <b-card>
        <b-card-header>{{receiver.name}} Chats</b-card-header>
<!--        <div class="card-body">-->
          <chat-messages
              ref="chatrefs"
              :receiver="receiver"
              :user="user"
          ></chat-messages>
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--          <chat-form-->
<!--              ref="chat-form"-->
<!--              :user="user"-->
<!--              :receiver="receiver"-->
<!--          ></chat-form>-->
<!--        </div>-->
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  props: ['users', 'user', 'messages', 'roles'],
  name: "indexChatComponent",
  data() {
    return {
      receiver: '',
    }
  },
  created() {

  },
  methods: {
    userChanged(data) {
      this.receiver = data
    }
  }
}
</script>

<style>
.card{border:none;}
</style>