<template>
  <div>
    <b-row>
      <div class="col-12 mt-5">
        <b-card>
          <b-card-body>
            <vue-cal
              :disable-views="['years', 'year']"
              :events="events"
              :on-event-click="onEventClick"
              :selected-date="selectedDate"
            >
              <template v-slot:event-renderer="{ event, view }" :style="{ backgroundColor: event.color }">
                <div class="vuecal__event-title" :style="{'background' : event.background}">{{event.title}}</div>
                <div class="vuecal__event-time">
                  {{ event.start.substr(11,5) }}
                  <span>&nbsp;- {{ event.end.substr(11,5) }}</span>
                  <!---->
                </div>
              </template>
            </vue-cal>
          </b-card-body>
        </b-card>
      </div>
    </b-row>
    <div>
      <b-modal id="my-modal" ref="my-modal" :title="showEvent !== null ? showEvent.event.title : ''" ok-only>
        <b-row>
          <h6>Start Time: </h6>  <h5>{{ showEvent !== null ? showEvent.event.start_time : '' }}</h5>
        </b-row>
        <b-row>
          <h6>Start Date: </h6> <h5>{{ showEvent !== null ? showEvent.event.start_date : '' }}</h5>
        </b-row>
        <b-row>
          <h6>End Time: </h6>  <h5>{{ showEvent !== null ? showEvent.event.end_time : '' }}</h5>
        </b-row>
        <b-row>
          <h6>End Date: </h6> <h5>{{ showEvent !== null ? showEvent.event.end_date : '' }}</h5>
        </b-row>
        <b-row>
          <h6>Description: </h6>  <h5>{{ showEvent !== null ? showEvent.event.description : '' }}</h5>
        </b-row>
        <b-row v-if="showEvent !== null" >
          <h6>Users: </h6>
          <div class="m-2 p-2" style="background-color: #0acf97; border-radius: 20px;" v-for="user in showEvent.event.users">
            <span class="p-2">{{ user.name }}</span>
          </div>
        </b-row>
        <b-row>
          <div class="be-comment-block">
            <h1 class="comments-title">Comments ({{ comments.length }})</h1>
            <div v-for="(comment, index) in comments" class="be-comment">
              <div class="be-img-comment">
                <a href="">
                  <img width="50" :src="'https://bootdey.com/img/Content/avatar/avatar'+index+'.png'" alt="" class="be-ava-comment">
                </a>
              </div>
              <div class="be-comment-content">
                <span class="be-comment-name">
<!--                  <a href="">Phoenix, the Creative Studio</a>-->
                </span>
                <span class="be-comment-time">
                  <i class="fa fa-clock-o"></i>
                  {{ comment.created_at }}
                </span>
                <p class="be-comment-text">
                  {{ comment.comment }}
                </p>
              </div>
            </div>
            <b-form>
              <b-form-textarea
                id="textarea"
                v-model="comment"
                placeholder="Enter Comment..."
                rows="3"
                max-rows="6"
              ></b-form-textarea>
              <b-button @click="onSubmitComment()" variant="primary">Add Comment</b-button>
            </b-form>
          </div>
        </b-row>
      </b-modal>
    </div>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'

import VCalendar from 'v-calendar';
import Calendar from 'v-calendar/lib/components/calendar.umd'
import DatePicker from 'v-calendar/lib/components/date-picker.umd'
import moment from 'moment';

Vue.component('calendar', Calendar)
Vue.component('date-picker', DatePicker)
export default {
  components: { 'vue-cal': VueCal },
  name: "calendar",
  props: {
    allEvents: {
      type: Array,
      default: [],
    }
  },
  data() {
    return {
      comment: '',
      comments: [],
      selectedEvent: {},
      showDialog: false,
      events: [],
      showEvent: null,
      visibility: true,
      showCalendar: true,
      selectedDate: new Date(),
      mode: "date",
      attributes: [
        {
          key: 'today',
          highlight: true,
          dates: new Date()
        }
      ],
    };
  },

  created() {
    let self = this
    this.allEvents.forEach(function (event) {
      if (!self.events.find(x => x.id === JSON.parse(event.event.id))) {
        self.events.push({
          'id' : event.event.id,
          'title' : event.event.title,
          'start' : event.event.start,
          'end' : event.event.end
        })
      }

    })
  },
  methods: {
    dayClick () {
      let self = this
    },
    createEvent(date) {
      this.$refs.createEventComponent.hidden = true
      this.$refs.createEventComponent.time_date = moment(date).format('yyyy-MM-DDThh:mm')
    },
    checkDate(data, day) {
      let date = moment(data.date).format('YYYY-MM-DD')
      day = moment(day.date).format('YYYY-MM-DD')
      return date === day;
    },
    showCalendarEventDetails(event) {
      this.showEvent = event
      this.showModal()
    },
    deleteCalendarEvent(event) {
      let self = this
      axios
        .post(APP_URL+'/api/hr/calendar/event/delete', {
          id: event.id
        })
        .then(response => {
          self.events = response.data.events
        })
        .catch(error => {
          console.log(error)
        })
    },
    showModal() {
      this.$refs['my-modal'].show()
    },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    onEventClick (event, e) {
      let data = event._eid.split('_')
      console.log(data)
      let id = parseInt(data[data.length-1])
      this.findEndById(id)
    },
    findEndById(id) {
      this.showEvent = this.selectedEvent = this.allEvents.find(e => e.event.id === parseInt(id));
      console.log(this.allEvents)
      console.log(this.showEvent, id)
      this.comments = this.selectedEvent.event.comments
      this.showModal()
    },
    onSubmitComment() {
      let self = this
      axios
        .post(APP_URL+'/add/comment', {
          comment: self.comment,
          event_id: self.showEvent.event_id,
        })
        .then(response => {
          if(response.data.type === 'success') {
            self.comments = response.data.comments
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.comment = ''
    }
  },

  computed: {},

  mounted() {},

  watch: {},
}
</script>

<style>
.vuecal__event {
  cursor: pointer;
  padding: 5px;
  overflow-y: scroll;
}

.vuecal__event-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 4px 0 8px;
}

.vuecal__event-time {
  display: inline-block;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.vuecal__event-content {
  font-style: italic;
}
.vuecal {
  margin: auto;
  max-width: 1300px;
  max-height: 662px;
}

.vuecal__event {
  background-color: rgba(173, 216, 230, 0.5);
  box-sizing: border-box;
  padding: 5px;
  width: 100% !important;
  left: 0 !important;
}

</style>