<template>
  <div>
    <div class="row flex-column-reverse flex-lg-row">
      <div v-if="role === 'admin'" class="col-lg-4 col-md-4 col-sm-12 left-side">
        <div class="row mt-4">
          <input type="text" class="form-control search-textbox" name="search" placeholder="Search User" id="search" v-model="search">
          <div class="col-sm-12" style="overflow-x: scroll; overflow: scroll; height: 501px;">
            <div class="list list-row block">
              <div class="list-item" :id="other.id" v-for="other in filteredList">
                <div v-if="!other.profile.image"><a href="#" data-abc="true"><span class="w-48 avatar gd-warning">U</span></a></div>
                <div v-else><a href="javascript: void(0)" v-on:click="startVideoChat(other.id)" data-abc="true"><span class="w-48 avatar gd-primary"><img :src="other.profile.image" alt="."></span></a></div>
                <div class="flex"> <a href="#" class="item-author text-color" data-abc="true">
                 <div class="row">
                   <a href="javascript: void(0)" v-on:click="startVideoChat(other.id)">
                     {{other.name}} 
                   </a>

                  <div v-if="other.status === 'online'" class="status -online" title="User is online!"></div>
<!--                  <div v-else class="status offline" title="User is offline"></div>-->
                 </div>
                </a>
                  <div class="item-except text-muted text-sm h-1x">{{ other.roles[0].name }}</div>
                </div>
              </div>
            </div>
          </div>
          <!--          <div  v-for="code in 5" class="col-lg-6 col-md-6 col-sm-6">-->
          <!--            <div v-if="role === 'admin'" class="square">-->
          <!--              <div :id="code.code" class="inner-box">-->
          <!--                <p style="top: 5px">Access Code: {{ code.code }}</p>-->
          <!--                <p style="top: 15px">Screen: Demo {{ code.id }}</p>-->
          <!--                <p style="top: 25px">-->
          <!--                  <a href=''>bizneez.net/live-demo-{{ code.code }}</a>-->
          <!--                </p>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div v-else class="p-2 demo m-2" style="border: 2px solid green;"><div class="col-lg-3" style="width: 200px; font-size: 150px;"><i class="fa fa-video-camera"></i></div></div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12" style="min-height: 600px;">
        <!-- <h4 class="mt-2">Live Demo</h4>  -->
        <div class="video-container row" ref="video-container">
          <div class="col-sm-6">
            <video controls class="video-here" ref="video-here" muted="muted" autoplay></video>
            <a href="javascript:void(0)" class="btn btn-danger close-button" v-on:click="reloadWindow()">End Call</a>
          </div>
          <div class="col-sm-6">
            <video controls class="video-there" ref="video-there" autoplay></video>
          </div>
          <div>
<!--            <a href="javascript:void(0)" class="btn btn-danger close-button" v-on:click="reloadWindow()">End Call</a>-->
            <!--  <input type="button" class="btn btn-danger close-button" v-on:click="reloadWindow()" value="End Call" > -->
          </div>

        </div>

        <div class="row mt-2">
          <div class="col-md-2">
            <div v-if="role === 'admin'" class="col-md-2">
              <div
                class="text-left"
                v-for="(name, userId) in other"
                :key="userId"
                style="z-index: 99999999;"
              >
                <button
                  style="z-index: 99999999;"
                  class="btn btn-dark"
                  @click="startVideoChat(userId)"
                  v-text="`Talk with ${name}`"
                />
              </div>
              <!--        <button-->
              <!--          class="btn btn-dark"-->
              <!--          @click="-->
              <!--                screenSharingStatusText === 'Start'-->
              <!--                    ? startScreenSharing()-->
              <!--                    : stopScreenSharing()-->
              <!--            "-->
              <!--          v-text="`${screenSharingStatusText} Screen Sharing`"-->
              <!--        />-->
            </div>
          </div>
          <div class="col-md-1">
            <button
              v-if="role === 'admin'"
              class="btn btn-success"
              @click="
                screenSharingStatusText === 'Screen Share'
                    ? startScreenSharing()
                    : stopScreenSharing()
            "
              v-html="`${screenSharingStatusText} <i class='fa fa-tv'></i>`"
            />
          </div>

        </div>

      </div>

    </div>
  </div>
</template>
<script>
import Pusher from "pusher-js";
import Peer from "simple-peer";
export default {
  props: [
    "role",
    "user",
    "other",
    "others",
    "pusherKey",
    "pusherCluster",
    "turn_url",
    "turn_username",
    "turn_credential"
  ],
  data() {
    return {
      channel: null,
      stream: null,
      peers: {},
      userid: null,
      screenSharingStatusText: "Start",
      search: '',
      friend: '',
      usersList: this.others,
    };
  },
  mounted() {
    this.listen()
    this.setupVideoChat();
  },
  computed: {
    filteredList() {
      return this.usersList.filter(post => {
        return post.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  methods: {
    startVideoChat(userId) {
      console.log(userId, "updated");
      this.userid = userId;
      this.getPeer(userId, true);
    },
    async startScreenSharing() {
      let self = this;
      // To show pusher errors
      Pusher.logToConsole = true;

      console.log(self.peers);

      const peer = this.getPeer(self.userid, true);

      // peer.removeTrack(self.stream.getVideoTracks()[0], self.stream);
      // peer.streams[0].getVideoTracks()[0].stop();

      const captureStream = await navigator.mediaDevices.getDisplayMedia({
        video: true,
        audio: true
      });
      const stream = captureStream;

      // const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
      const videoHere = this.$refs["video-here"];
      videoHere.srcObject = captureStream;
      // videoHere.volume = 0;
      // videoHere.echo = 0;
      self.stream = captureStream;
      console.log(self.channel);

      this.screenSharingStatusText = "Screen Stop";
      peer.replaceTrack(
        peer.streams[0].getVideoTracks()[0],
        captureStream.getVideoTracks()[0],
        peer.streams[0]
      );
      // self.peers[self.user.id].addTrack(self.stream.getVideoTracks()[0]);
      // peer.replaceTrack(peer.getVideoTracks()[0], captureStream);
      // peer.streams[0].getVideoTracks()[0].play();
      // peer.addTrack(self.stream.getVideoTracks()[0], captureStream);
      // self.channel.bind(`client-signal-${self.user.id}`, signal => {
      //     alert();
      //     const peer = self.getPeer(signal.userId, false);
      //     peer.signal(signal.data);
      // });

    },
    async stopScreenSharing() {
      let self = this;
      // To show pusher errors
      Pusher.logToConsole = true;

      console.log(self.peers);

      const peer = this.getPeer(self.userid, true);

      // peer.removeTrack(self.stream.getVideoTracks()[0], self.stream);
      // peer.streams[0].getVideoTracks()[0].stop();

      const stream = await navigator.mediaDevices.getUserMedia({
        video: {
          volume: 0
        },

        // audio: true,
        audio: {
          sampleSize: 8,
          echoCancellation: true
        }
      });
      // const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
      const videoHere = this.$refs["video-here"];
      videoHere.srcObject = stream;
      // videoHere.volume = 0;
      // videoHere.echo = 0;
      self.stream = stream;

      this.screenSharingStatusText = "Screen Share";
      peer.replaceTrack(
        peer.streams[0].getVideoTracks()[0],
        stream.getVideoTracks()[0],
        peer.streams[0]
      );
      // self.peers[self.user.id].addTrack(self.stream.getVideoTracks()[0]);
      // peer.replaceTrack(peer.getVideoTracks()[0], captureStream);
      // peer.streams[0].getVideoTracks()[0].play();
      // peer.addTrack(self.stream.getVideoTracks()[0], captureStream);
      // self.channel.bind(`client-signal-${self.user.id}`, signal => {
      //     alert();
      //     const peer = self.getPeer(signal.userId, false);
      //     peer.signal(signal.data);
      // });
    },
    getPeer(userId, initiator) {
      let self = this;
      if (this.peers[userId] === undefined) {
        let peer = new Peer({
          initiator,
          stream: this.stream,
          trickle: false,
          config: {
            iceServers: [
              {
                // urls: "turn:64.225.3.157:3478",
                // username: "waseem",
                // credential: "waseem"
                urls: self.turn_url,
                username: self.turn_username,
                credential: self.turn_credential
              }
            ]
          }
        });
        peer.on("signal", data => {
          if (data.renegotiate || data.transceiverRequest) {
            return;
          }
          this.channel.trigger(`client-signal-${userId}`, {
            userId: this.user.id,
            data: data
          });
        })
          .on("stream", stream => {
            const videoThere = this.$refs["video-there"];
            videoThere.srcObject = stream;
            // videoThere.volume = 0;
            // videoThere.echo = 0;
          })
          .on("close", () => {
            const peer = this.peers[userId];
            if (peer !== undefined) {
              peer.destroy();
            }
            delete self.peers[userId];
          });
        this.peers[userId] = peer;
      }
      return self.peers[userId];
    },
    async setupVideoChat() {
      let self = this;
      // To show pusher errors
      Pusher.logToConsole = true;

      const stream = await navigator.mediaDevices.getUserMedia({
        video: {
          volume: 0
        },

        // audio: true,
        audio: {
          sampleSize: 8,
          echoCancellation: true
        }
      });
      // const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
      const videoHere = this.$refs["video-here"];
      videoHere.srcObject = stream;
      // videoHere.volume = 0;
      // videoHere.echo = 0;
      self.stream = stream;
      const pusher = self.getPusherInstance();
      self.channel = pusher.subscribe("presence-video-chat");
      self.channel.bind("pusher:subscription_succeeded", function(
        members
      ) {
        console.log(members);
        // alert('successfully subscribed!');
      });
      self.channel.bind(`client-signal-${self.user.id}`, signal => {
        const peer = self.getPeer(signal.userId, false);
        peer.signal(signal.data);

        // peer.addTrack(self.stream.getVideoTracks()[0], self.stream);
      });
    },
    getPusherInstance() {
      return new Pusher(this.pusherKey, {
        authEndpoint: "auth/video_chat",
        cluster: this.pusherCluster,
        auth: {
          headers: {
            "X-CSRF-Token": document.head.querySelector(
              'meta[name="csrf-token"]'
            ).content
          }
        }
      });
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    reloadWindow() {
      window.location.reload()
    },

    listen() {
      let self = this
      console.log('hello')
      window.Echo.join('chat')
        .joining((user) => {
          axios.put(APP_URL+'/user/'+ user.id +'/online', {});
          let i = self.others.findIndex(u => u.id === user.id)
          console.log(self.others, 'online ------', user, i, self.others[i].status)
          self.others[i].status = 'online'
        })
        .leaving((user) => {
          axios.put(APP_URL+'/user/'+ user.id +'/offline', {});
          let i = self.others.findIndex(u => u.id === user.id)
          console.log(self.others, 'leaving ------', user, i, self.others[i].status)
          self.others[i].status = 'offline'
        })
        .listen('UserOnline', (e) => {
          console.log('===========', e)
          this.friend = e.user;
        })
        .listen('UserOffline', (e) => {
          console.log('===========', e)
          this.friend = e.user;
        });
    },
    listeningJoin() {
      window.Echo.join('chat')
        .listen('UserOnline', (e) => {
          this.friend = e.user;
          console.log('===========', e)
        })

    }
  }
}
</script>
<style>

.status {
  position: relative;
  top: 10px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
}
.status.-online {
  background-color: #37d316;
}
.status.offline {
  border: 1px solid #adadad;
}

.status.-online {
  background-color: #37d316;
}
.status.offline {
  border: 1px solid #adadad;
}
.chatname {
  position: absolute;
  top: 5px;
  left: 17px;
  color: #000;
  font-size: 1.5em;
}
.chatmessage {
  top: 35px;
  position: absolute;
  width: 100%;
  height: 15px;
  line-height: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatmessage.-unread {
  font-weight: bold;
}
.connection {
  height: 60px;
  width: 60px;
  text-align: center;
  position: relative;
}
.connection .time {
  position: absolute;
  top: 35px;
}

.video-container {
  /*width: 170%;*/
  min-height: 500px;
  /*margin: 8px auto;
  border: 3px solid #ea0000;*/
  /*position: relative;*/
  /*box-shadow: 1px 1px 1px #9e9e9e;*/
}
.video-here {
  width: 392px;
 
  position: relative;
  left: 10px;
  bottom: 0px;
  top: 10px;
  /* border: 1px solid #000; */
  border-radius: 2px;
  z-index: 2;
}
.video-there {
  width: 392px;
  /*height: 100%;*/
  z-index: 1;
  padding-bottom:1px;
}
.text-right {
  text-align: right;
}
.search-textbox{width: 54%!important;
  margin-left: 40px;}
.close-button{      width: 390.5px;
    margin-left: 11px;
    border-radius: 0px !important;
     }

.user-icon{font-size:30px!important;     padding-top: 7px;}
.user-type{margin-left:27px; font-size:11px;}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
  border-radius: inherit;
  width: 100%
}

.gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff)
}

.gd-success {
  color: #fff;
  border: none;
  background: #31c971 linear-gradient(45deg, #31c971, #3dc931)
}

.gd-info {
  color: #fff;
  border: none;
  background: #14bae4 linear-gradient(45deg, #14bae4, #14e4a6)
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414)
}

@media (min-width:992px) {
  .page-container {
    max-width: 1140px;
    margin: 0 auto
  }

  .page-sidenav {
    display: block !important
  }
}

.list {
  padding-left: 0;
  padding-right: 0
}

.list-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word
}

.list-row .list-item {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem .625rem
}

.list-row .list-item>* {
  padding-left: .625rem;
  padding-right: .625rem
}

.no-wrap {
  white-space: nowrap
}

.text-color {
  color: #c7cacc
}

.text-gd {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent
}

.text-sm {
  font-size: .825rem
}

.h-1x {
  height: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}

.w-48 {
  width: 48px !important;
  height: 48px !important
}

a:link {
  text-decoration: none
}
</style>
