<template>
  <div>
    <div class="row h-100">
      <div class="col-md-4 left-side">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="square">
              <div id="my-camera-preview" class="inner-box">
                <p>Admin video</p>
              </div>
            </div>
          </div>
          <div v-for="code in authCodes" class="col-md-6">
            <div class="square">
              <div :id="code.code" class="inner-box">
                <p style="top: 5px">Access Code: {{ code.code }}</p>
                <p style="top: 15px">Screen: Demo {{ code.id }}</p>
                <p style="top: 25px">
                  <a href=''>bizneez.net/live-demo-{{ code.code }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6  mt-4">
      <div class="row">
        <h3>Shared Screen</h3>
        <button v-b-tooltip="'Share Screen'" class="btn btn-success" v-on:click="screenShare">
          <i class="fa fa-tv"></i>
        </button>
      </div>
        <div class="screen-share w-100 h-100">
          <div class="inner-box" id="inner-box">
            <p style="top: 45px">Access Code: 209xxx</p>
            <p style="top: 55px">Screen: Demo5</p>
            <p style="top: 65px"><a href=''>bizneez.net/live-demo-209xxx</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    authCodes: {
      type: Array,
      default: [],
    },
    logged: {
      type: Object,
      default: {},
    }
  },
  name: "VideoCallComponent",
  data: function () {
    return {
      accessToken: '',
      microphone: false,
      camera: false,
      room: '',
      createLocalVideoTrack: '',
      showUsersList: true,
    }
  },
  created() {
    console.log(this.authCodes)
  },
  mounted: function () {
    let self = this
    navigator.permissions.query({ name: 'microphone' })
      .then(function(permissionStatus){
        if (permissionStatus.state === "granted") {
          self.microphone = true
        }
        else {
          alert('Please Allow Permission Browser For Microphone')
        }
        permissionStatus.onchange = function() {
          window.location.reload()
        }

      })
    navigator.permissions.query({ name: 'camera' })
      .then(function(permissionStatus) {
        if (permissionStatus.state === "granted") {
          self.camera = true
        }
        else {
          alert('Please Allow Permission Browser For Camera')
        }
        permissionStatus.onchange = function() {
          window.location.reload()
        }

      })
    this.getAccessToken()
    this.displayCameraPreview()

  },
  methods: {
    displayCameraPreview() {
      const {createLocalVideoTrack} = require('twilio-video');
      createLocalVideoTrack().then(track => {
        const localMediaContainer = document.getElementById('my-camera-preview');
        console.log(localMediaContainer, track, track.attach())
        localMediaContainer.appendChild(track.attach());
      });
    },
    getAccessToken: function () {
      let  self = this
      const axios = require('axios')

      axios.get('/access_token')
        .then(function (response) {
          self.accessToken = response.data
          console.log(self.accessToken)
          self.connectToRoom()
        })
        .catch(function (error) {
          console.log(error);
        })
    },
    connectToRoom: function () {
      let self = this
      const {connect, createLocalVideoTrack} = require('twilio-video');

      connect(self.accessToken, {audio: self.microphone, video: { height: { min: 480, max: 720 }, frameRate: 24, width: { min: 640, max: 1280 } }, maxAudioBitrate: 16000 , name: 'myRoom'}).then(room => {
        const videoChatWindow = document.getElementById('video-chat-window');
        const screenPreview = document.getElementById('screen-preview');

        self.room = room
        self.createLocalVideoTrack = createLocalVideoTrack
        room.on('participantConnected', participant => {
          participant.on('trackSubscribed', track => {
            let section = document.getElementById(participant.identity);
            if(track.name === 'screen') {
              screenPreview.appendChild(track.attach())
              let ele = document.querySelector("#screen-preview > video")
              ele.style.width = '1000px'
            }
            else  {
              section.appendChild(track.attach());
              self.addAttributeVideo()
              // videoChatWindow.appendChild(track.attach());
            }

          });
        });

        room.participants.forEach(participant => {
          console.log(participant.identity)
          let section = document.getElementById(participant.identity);
          participant.on('trackSubscribed', track => {
            if(track.name === 'screen') {
              screenPreview.appendChild(track.attach())
              let ele = document.querySelector("#screen-preview > video")
              ele.style.width = '1000px'
            }
            else {
              section.appendChild(track.attach());
              self.addAttributeVideo()
            }
            // videoChatWindow.appendChild(track.attach());
          });
        });

        // When a Participant leaves the Room, detach its Tracks.
        room.on("participantDisconnected", function(participant) {
          self.detachParticipantTracks(participant);
        });


        // Log your Client's LocalParticipant in the Room
        const localParticipant = room.localParticipant;
        console.log(`Connected to the Room as LocalParticipant "${localParticipant.identity}"`);

        // Log any Participants already connected to the Room
        room.participants.forEach(participant => {
          console.log(`Participant "${participant.identity}" is connected to the Room`);
        });

      }, error => {
        alert(error)
        console.error(error, `Unable to connect to Room: ${error.message}`);
      });
    },
    // Detach the Participant's Tracks from the DOM.
    detachParticipantTracks(participant) {
      let tracks = Array.from(participant.tracks.values());
      console.log('participant', participant.identity, 'tracks', tracks)
      document.getElementById(participant.identity).removeChild('video')
    },
    //mute audio of video chat
    mute_audio() {
      this.room.localParticipant.audioTracks.forEach(function(track) {
        let result = track.track.disable();
        console.log(result)
      })
      this.microphone = false;
    },
    //unmute audio of video chat
    unmute_audio() {
      this.room.localParticipant.audioTracks.forEach(function(track) {
        let result = track.track.enable();
        console.log(result)
      })
      this.microphone = true;
    },
    //mute video
    mute_video() {
      this.room.localParticipant.videoTracks.forEach(function(videoTrack) {
        videoTrack.track.disable();
      });
      this.camera = false;
    },
    //unmute video
    unmute_video() {
      this.room.localParticipant.videoTracks.forEach(function(videoTrack) {
        videoTrack.track.enable();
      });
      this.camera = true;
    },
    screenShare() {
      let self = this
      const { connect, LocalVideoTrack } = require('twilio-video');

      const videoChatWindow = document.getElementById('video-chat-window');
      navigator.mediaDevices.getDisplayMedia({
        mediaSource: 'window'
      }).then(function (stream) {
        console.log(self.room.localParticipant)
        self.room.localParticipant.publishTrack(stream.getTracks()[0], {name: 'screen'});
      });
    },
    fullScreen() {
      let ele = document.getElementById('screen-preview').firstChild;
      console.log(ele)
      ele.setAttribute('controls', '')
      // let screen = ele.innerHTML
      // console.log(screen)
      // screen.setAttribute('control')
      // console.log(ele.innerHTML, document.querySelectorAll('video')[0])
    },
    addAttributeVideo() {
      let videoELe = document.querySelectorAll('video')
      videoELe.forEach(function (x) {
        if (!x.hasAttribute('controls')) {
          x.setAttribute('controls', '')
        }
      })
    },
  },
}
</script>

<style>
#my-camera-preview video {
  position: relative;
  height: 150px;
  width: 200px !important;
  padding: 0;
}
.inner-box video {
  position: relative;
  height: 150px;
  width: 200px !important;
  padding: 0;
}
p {
  position: absolute;
  z-index: 999;
}
</style>