<template>
  <div>
    <div class="row mt-5">
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-lg-10">
            <v-calendar
              class="custom_calendar"
              v-model="selectedDate"
              :mode="mode"
              ref="calendar"
              :attributes='attributes'
              trim-weeks
              is-expanded
            >
              <template slot='month-content' slot-scope="props">
                <span>{{ props }}</span>
              </template>
              <template slot='day-content' slot-scope="props">
                <div class="day-cell" v-if="props.day.inMonth" style="min-height: 100px; width: 150px; overflow-y: scroll;">
                  {{props.day.day}}
                  <div v-for="dayEvent in allEvents" v-if="checkDate(props.day, dayEvent)">
                    <span class="event-badge badge badge-pill" style="background-color: #dcb3b3; ">
                      <a href="javascript:void(0)" class="event-name">
                        <span class="fa fa-trash-alt" @click="deleteCalendarEvent(dayEvent)"></span>
                      </a>
                      <a class="event-name" href="javascript:void(0)" @click="showCalendarEventDetails(dayEvent)">
                        ({{dayEvent.appointment_time}}) {{dayEvent.name}}
                        <span v-for="user in dayEvent.users" style="font-size: 10px;">
                          {{user.name}} ({{dayEvent.start | timeFormat}})
                        </span>
                      </a>
                    </span>
                  </div>
                  <div v-on:click="createEvent(props.day)" style="width: 100%; height: 100%;"></div>

                </div>
              </template>
            </v-calendar>

          </div>
          <div class="col-lg-2">
            <v-date-picker
              :popover="{visibility: visibility}"
              @dayclick="dayClick"
              :mode="mode"
              v-model="selectedDate"
            ></v-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div>
      <b-modal id="createEventComponent" ref="createEventComponent" title="Add Appointment" hide-footer>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="name">Name*</label>
              <input class="form-control" type="text" v-model="appointment_form.name" id="name" required="required">
            </div>
            <div class="col-lg-6 form-group">
              <label for="company_name">Company Name</label>
              <input class="form-control" type="text" v-model="appointment_form.company_name" id="company_name">
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="telephone">Telephone*</label>
              <input class="form-control" type="text" v-model="appointment_form.telephone" id="telephone" required="required">
            </div>
            <div class="col-lg-6 form-group">
              <label for="email">Email*</label>
              <input class="form-control" type="email" v-model="appointment_form.email" id="email" required="required">
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 form-group">
              <label for="date">Appointment Date</label>
              <input class="form-control" type="date" v-model="appointment_form.date" name="date" id="date">
            </div>
            <div class="col-lg-3 form-group">
              <label for="appointment_time">Available Slots</label>
              <div class="custom-select" style="width:200px;">
                <select name="appointment_time" v-model="appointment_form.appointment_time" id="appointment_time">
                  <option value="07.00 AM">07.00 AM</option>
                  <option value="08.00 AM">08.00 AM</option>
                  <option value="09.00 AM">09.00 AM</option>
                  <option value="10.00 AM">10.00 AM</option>
                  <option value="11.00 AM">11.00 AM</option>
                  <option value="12.00 PM">12.00 PM</option>
                  <option value="01.00 PM">01.00 PM</option>
                  <option value="02.00 PM">02.00 PM</option>
                  <option value="03.00 PM">03.00 PM</option>
                  <option value="04.00 PM">04.00 PM</option>
                  <option value="05.00 PM">05.00 PM</option>
                  <option value="06.00 PM">06.00 PM</option>
                  <option value="07.00 PM">07.00 PM</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <label for="appointment_time">No of Employees</label>
              <input class="form-control" type="number" v-model="appointment_form.number_of_employees" name="number_of_employees" id="number_of_employees">
            </div>

          </div>
        </div>

        <div class="col-lg-12">
          <div class="form-check">
            <button class="btn btn-success" v-on:click="createAppointment()">Create</button>
          </div>
        </div>

      </b-modal>

      <b-modal id="my-modal" ref="my-modal" :title="'Start Time: ' + showEvent.appointment_time" hide-footer>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <strong>Name</strong>: {{showEvent.name}}
              </div>
              <div class="col-lg-12">
                <strong>Company Name</strong>: {{showEvent.company_name}}
              </div>
              <div class="col-lg-12">
                <strong>Telephone</strong>: {{showEvent.telephone}}
              </div>
              <div class="col-lg-12">
                <strong>Email</strong>: {{showEvent.email}}
              </div>
              <div class="col-lg-12">
                <strong>Date</strong>: {{showEvent.date}}
              </div>
              <div class="col-lg-12">
                <strong>Appointment Time</strong>: {{showEvent.appointment_time}}
              </div>
              <div class="col-lg-12">
                <strong>Number Of Employees</strong>: {{showEvent.number_of_employees}}
              </div>
            </div>
            <div class="row">
              <div class="p-2">
                <textarea style="width: 100%;"
                          id="textarea"
                          v-model="comment"
                          placeholder="Enter Comment..."
                          cols="40"
                          rows="4"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="p-2 float-right">
                  <button class="btn btn-success" @click="onSubmitComment()" variant="primary">Add Comment</button>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="p-2 mb-5">
              <p class="comments-title">Comments ({{ comments.length }})</p>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
              <div v-for="(comment, index) in comments" class="">
                <div class="row">
                  <div class="col-lg-3">
                    <img width="50" height="50" :src="'https://bootdey.com/img/Content/avatar/avatar1.png'">
                    <strong>{{ comment.user.name }}</strong>
                  </div>
                  <div class="col-lg-9">
                    <div class="pl-2">

                      <div class="">
                        <p class="">
                          {{ comment.comment }}
                        </p>
                      </div>
                      <small class="float-right">
                        <i class="fa fa-clock-o"></i>
                        {{ comment.created_at | formatDate }}
                      </small>
                    </div>
                  </div>
                </div>
                <hr/>
              </div>

            </div>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'

import VCalendar from 'v-calendar';
import Calendar from 'v-calendar/lib/components/calendar.umd'
import DatePicker from 'v-calendar/lib/components/date-picker.umd'
import moment from 'moment';

Vue.component('calendar', Calendar)
Vue.component('date-picker', DatePicker)

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('YYYY-MM-DD hh:mm')
  }
});
Vue.filter('timeFormat', function(value) {
  if (value) {
    return moment(String(value)).format('hh:mm')
  }
});
export default {
  name: "DeliveryAppoinmentBooking",
  components: { 'vue-cal': VueCal },
  props: {
    allEvents: {
      type: Array,
      default: [],
    }
  },
  data() {
    return {
      appointment_form: {},
      comment: '',
      comments: [],
      selectedEvent: {},
      showDialog: false,
      events: [],
      showEvent: [],
      visibility: true,
      showCalendar: true,
      selectedDate: new Date(),
      mode: "date",
      attributes: [
        {
          key: 'today',
          highlight: true,
          dates: new Date()
        }
      ],
    };
  },

  created() {
    let self = this
    self.events = self.allEvents
    // this.allEvents.forEach(function (event) {
    //   self.events.push({
    //     'id' : event.id,
    //     'start' : event.start,
    //     'end' : event.end,
    //     'color' : event.color,
    //     'users' : event.users
    //   })
    // })
  },
  methods: {
    dayClick () {
      console.log(123123, this.selectedDate)
    },
    createEvent(date) {
      this.$refs['createEventComponent'].show()
    },
    checkDate(data, day) {
      let date = moment(data.date).format('YYYY-MM-DD')
      day = moment(day.date).format('YYYY-MM-DD')
      return date === day;
    },
    showCalendarEventDetails(event) {
      this.findEndById(event)
      // this.showEvent = event
      // this.selectedEvent = event
      this.showModal()
    },
    deleteCalendarEvent(event) {
      let self = this
      axios
        .post(APP_URL+'/api/hr/calendar/event/delete', {
          id: event.id
        })
        .then(response => {
          self.events = response.data.events
        })
        .catch(error => {
          console.log(error)
        })
    },
    showModal() {
      this.$refs['my-modal'].show()
    },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    onEventClick (event, e) {
      let data = event._eid.split('_')
      let id = parseInt(data[data.length-1])
      this.findEndById(id)
    },
    findEndById(id) {
      this.comments = []
      this.showEvent = this.selectedEvent = id;
      this.comments = this.showEvent.comments
      this.showModal()
    },
    onSubmitComment() {
      let self = this
      axios
        .post(APP_URL+'/add/comment', {
          type: 'appointment',
          comment: self.comment,
          event_id: self.selectedEvent.id,
        })
        .then(response => {
          if(response.data.type === 'success') {
            self.comments = response.data.comments
            self.events = response.data.events
            self.comment = ''
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.comment = ''
    },
    createAppointment() {
      let self = this
      this.errors = {};
      axios.post(APP_URL+'/demo/appointment', {
        name: self.appointment_form.name,
        company_name: self.appointment_form.company_name,
        telephone: self.appointment_form.telephone,
        email: self.appointment_form.email,
        date: self.appointment_form.date,
        appointment_time: self.appointment_form.appointment_time,
        number_of_employees: self.appointment_form.number_of_employees,

      }).then(
        response => {
          window.location.reload()
          this.$refs['createEventComponent'].hide()
        }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    }
  },

  computed: {},

  mounted() {},

  watch: {},
}
</script>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

<style>
.toast-message {
  color: #000000;
}

.custom_calendar .vc-day {
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 3px;
  width: 100%;
}
.custom_calendar .on-top {
  border-top: 1px solid #AAA;
}
.custom_calendar .on-left {
  border-left: 1px solid #AAA;
}
.custom_calendar .event {
  word-wrap: break-word;
  word-break: break-all;
}
.custom_calendar .event-badge {
  white-space: normal;
  border-radius: 5px;
  margin-top: 2px;
  text-align: left;
}
.event-badge {
  color: #FFF;
  width: 100%;
}

.event-name {
  color: white !important;
  padding: 2px;
  display: inline-block;
}

.custom_calendar {
  width: 100px;
}
.day-cell {
  max-height: 100px;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
}
</style>