<template>
  <div>
<!--    <button-->
<!--      v-if="!hidden"-->
<!--      class="btn btn-primary btn-sm mb-2" style="background-color: #2d7bf4"-->
<!--      @click="showEventCreate()"-->
<!--    >-->
<!--      <i class="fa fa-plus"></i>-->
<!--      Appointment-->
<!--    </button>-->
    <b-modal id="event-create" ref="event-create" title="Create Event" hide-footer scrollable>
      <div class="row">
        <div class="col-12 mt-5">
          <div class="card-box">
            <form @submit.prevent="submit">
              <div class="row">
<!--                <div class="col-sm-6">-->
<!--                  <div class="form-group">-->
<!--                    <label for="title">Title<span class="text-danger">*</span></label>-->
<!--                    <input type="text" class="form-control valid" name="title" id="title" required />-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                  <div class="form-group">-->
<!--                    <label for="description">Description<span class="text-danger">*</span></label>-->
<!--                    <input type="text" class="form-control valid" name="description" id="description" required />-->
<!--                  </div>-->
<!--                </div>-->
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="date">Date & Time<span class="text-danger"></span></label>
                    <input type="date" class="form-control valid" v-model="date" name="date" id="date"/>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="time">Date & Time<span class="text-danger"></span></label>
                    <input type="time" class="form-control valid" v-model="time" name="time" id="time"/>
                  </div>
                </div>
  <!--              <div class="col-sm-6">-->
  <!--                <div class="form-group">-->
  <!--                  <label for="end">End Date & Time<span class="text-danger"></span></label>-->
  <!--                  <input type="datetime-local" class="form-control valid" v-model="end_time_date" name="end_time_date" id="end"/>-->
  <!--                </div>-->
  <!--              </div>-->
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="color">Choose Color<span class="text-danger">*</span></label>
                    <select name="color" id="color" class="form-control valid">
                      <option value="0">Choose Color</option>
                      <option value="#defda6" style="background: #defda6;"> </option>
                      <option value="#f5c767" style="background: #f5c767;"> </option>
                      <option value="#f37070" style="background: #f37070;"> </option>
                      <option value="#8e95e1" style="background: #8e95e1;"> </option>
                      <option value="#97ffff" style="background: #97ffff;"> </option>
                      <option value="#ffff93" style="background: #ffff93;"> </option>
                      <option value="#bbbbbb" style="background: #bbbbbb;"> </option>
                      <option value="#ce93ce" style="background: #ce93ce;"> </option>
                    </select>
                    
                  </div>
                </div>
                
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>Employees<span class="text-danger">*</span></label>
                    <multiselect
                        :multiple="true"
                        v-model="values"
                        :options="options"
                        label="name"
                        track-by="name"
                    >
                      <template slot="selection" slot-scope="{ values, search, isOpen }">
                        <span class="multiselect__single" v-if="values.length &amp;&amp; isOpen">{{ values.name }}</span>
                      </template>
                    </multiselect>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Create Event"/>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import moment from 'moment';

export default {
  name: "addEvent",
  components: { Multiselect },

  data() {
    return {
      tag: '',
      tags: [],
      hidden: false,
      users: [],
      options: [],
      values: [],
      start_time_date: '',
      end_time_date: '',
      time: '',
      date: '',
    }
  },

  created() {},

  methods: {
    showEventCreate() {
      this.$refs['event-create'].show()
    },
    hideEventCreate() {
      this.$refs['event-create'].hide()
      console.log('hide')
    },
    submit(e) {
      console.log(e.target.color.value)
      let self = this
      this.errors = {};
      axios.post(APP_URL+'/admin/events/store', {
        date: e.target.date.value,
        time: e.target.time.value,
        color: e.target.color.value,
        users: self.values,
      }).then(
          response => {
            console.log(response)
            if (response.data.type === 'success') {
              self.$parent.events = response.data.events
              self.hidden = !self.hidden
              this.$refs['event-create'].hide()

            }
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    },
    getAllUsers() {
      let self = this
      this.errors = {};
      axios.get(APP_URL+'/api/admin/getAllUsers').then(
          response => {
            if (response.data.type === 'success') {
              self.users = response.data.users
              self.users.forEach(function (x) {
                self.options.push({
                  id: x.id,
                  name: x.name,
                })

              })
            }
      }).catch(error => {
        if (error.response.status === 422) {
          this.errors = error.response.data.errors || {};
        }
      });
    },
  },

  computed: {},

  mounted() {
    this.getAllUsers()
  },

  watch: {},
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>

</style>