<template>
  <div>
    <div class="mt-5">
      <div class="col-12 mt-5">
        <create-event ref="createEventComponent"></create-event>
        <div class="row">
          <div class="col-lg-10">
            <v-calendar
                v-if="events.length>0 && showCalendar"
                class="custom_calendar"
                v-model="selectedDate"
                :mode="mode"
                ref="calendar"
                :attributes='attributes'
                trim-weeks
                is-expanded
            >
              <template slot='month-content' slot-scope="props">
                <span>{{ props }}</span>
              </template>
              <template slot='day-content' slot-scope="props">
                <div class="day-cell" v-if="props.day.inMonth" style="min-height: 100px; width: 150px;">
                  {{props.day.day}}
                  <div v-for="dayEvent in events" v-if="checkDate(props.day, dayEvent)">
                    <span class="event-badge badge badge-pill" :style="'background-color: ' + dayEvent.color ">
                      <a href="javascript:void(0)" class="event-name">
                        <span class="fa fa-trash-alt" @click="deleteCalendarEvent(dayEvent)"></span>
                      </a>
                      <a class="event-name" href="javascript:void(0)" @click="showCalendarEventDetails(dayEvent)">
                        <span v-for="user in dayEvent.users" style="font-size: 10px;">
                          {{user.name}} ({{dayEvent.start | timeFormat}})
                        </span>
                      </a>
                    </span>
                  </div>
                  <div v-on:click="createEvent(props.day)" style="width: 100%; height: 100%;"></div>

                </div>
              </template>
            </v-calendar>

          </div>
          <div class="col-lg-2">
            <v-date-picker
                :popover="{visibility: visibility}"
                @dayclick="dayClick"
                :mode="mode"
                v-model="selectedDate"
            ></v-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div>
      <b-modal id="my-modal" ref="my-modal" :title="'Start Time: ' + showEvent.start_date + ' ' + showEvent.start_time" hide-footer>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="p-2">Participants: </div>
              <div class="p-2" v-for="user in showEvent.users"> {{ user.name }}, </div>
            </div>
            <div class="row">
              <div class="p-2">
                <textarea style="width: 125%;"
                          id="textarea"
                          v-model="comment"
                          placeholder="Enter Comment..."
                          cols="40"
                          rows="4"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="p-2 float-right">
                  <button class="btn btn-success" @click="onSubmitComment()" variant="primary">Add Comment</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="p-2 mb-5">
                <p class="comments-title">Comments ({{ comments.length }})</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div v-for="(comment, index) in comments" class="">
                  <div class="row">
                    <div class="col-lg-3">
                      <img width="50" height="50" :src="'https://bootdey.com/img/Content/avatar/avatar1.png'">
                      <strong>{{ comment.user.name }}</strong>
                    </div>
                    <div class="col-lg-9">
                      <div class="pl-2">

                        <div class="">
                          <p class="">
                            {{ comment.comment }}
                          </p>
                        </div>
                        <small class="float-right">
                          <i class="fa fa-clock-o"></i>
                          {{ comment.created_at | formatDate }}
                        </small>
                      </div>
                    </div>
                  </div>
                  <hr/>
                </div>

              </div>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'

import VCalendar from 'v-calendar';
import Calendar from 'v-calendar/lib/components/calendar.umd'
import DatePicker from 'v-calendar/lib/components/date-picker.umd'
import moment from 'moment';

Vue.component('calendar', Calendar)
Vue.component('date-picker', DatePicker)

Vue.filter('formatDate', function(value) {
  if (value) {
    return moment(String(value)).format('YYYY-MM-DD hh:mm')
  }
});
Vue.filter('timeFormat', function(value) {
  if (value) {
    return moment(String(value)).format('hh:mm')
  }
});
export default {
  components: { 'vue-cal': VueCal },
  name: "calendar",
  props: {
    allEvents: {
      type: Array,
      default: [],
    }
  },
  data() {
    return {
      comment: '',
      comments: [],
      selectedEvent: {},
      showDialog: false,
      events: [],
      showEvent: {},
      visibility: true,
      showCalendar: true,
      selectedDate: new Date(),
      mode: "date",
      attributes: [
        {
          key: 'today',
          highlight: true,
          dates: new Date()
        }
      ],
    };
  },

  created() {
    let self = this
    self.events = this.allEvents
    // this.allEvents.forEach(function (event) {
    //   self.events.push({
    //     'id' : event.id,
    //     'start' : event.start,
    //     'end' : event.end,
    //     'color' : event.color,
    //     'users' : event.users,
    //     'start_date' : event.start_date,
    //     'start_time' : event.start_time
    //   })
    // })
  },
  methods: {
    dayClick () {
      console.log(123123, this.selectedDate)
    },
    createEvent(date) {
      this.$refs.createEventComponent.hidden = true
      this.$refs.createEventComponent.showEventCreate()
      this.$refs.createEventComponent.date = moment(date.date).format('yyyy-MM-DD')
      // this.$refs.createEventComponent.date = moment(date).format('yyyy-MM-DDThh:mm')
    },
    checkDate(data, day) {
      let date = moment(data.date).format('YYYY-MM-DD')
      day = moment(day.start).format('YYYY-MM-DD')
      return date === day;
    },
    showCalendarEventDetails(event) {
      this.findEndById(event.id)
      // this.showEvent = event
      // this.selectedEvent = event
      this.showModal()
    },
    deleteCalendarEvent(event) {
      let self = this
      axios
          .post(APP_URL+'/api/hr/calendar/event/delete', {
            id: event.id
          })
          .then(response => {
            self.events = response.data.events
          })
          .catch(error => {
            console.log(error)
          })
    },
    showModal() {
      this.$refs['my-modal'].show()
    },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
    onEventClick (event, e) {
      let data = event._eid.split('_')
      let id = parseInt(data[data.length-1])
      this.findEndById(id)
    },
    findEndById(id) {
      this.showEvent = this.selectedEvent = this.events.find(e => e.id === parseInt(id));
      this.comments = this.selectedEvent.comments
      if (this.showEvent !== {}) {
        this.showModal()
      }
    },
    onSubmitComment() {
      let self = this
      axios
          .post(APP_URL+'/add/comment', {
            type: 'event',
            comment: self.comment,
            event_id: self.selectedEvent.id,
          })
          .then(response => {
            if(response.data.type === 'success') {
              self.comments = response.data.comments
              self.comment = ''
            }
          })
          .catch(error => {
            console.log(error)
          })
      this.comment = ''
    },
  },

  computed: {},

  mounted() {},

  watch: {},
}
</script>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

<style>
.toast-message {
  color: #000000;
}

.custom_calendar .vc-day {
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 3px;
  width: 100%;
}
.custom_calendar .on-top {
  border-top: 1px solid #AAA;
}
.custom_calendar .on-left {
  border-left: 1px solid #AAA;
}
.custom_calendar .event {
  word-wrap: break-word;
  word-break: break-all;
}
.custom_calendar .event-badge {
  white-space: normal;
  border-radius: 5px;
  margin-top: 2px;
  text-align: left;
}
.event-badge {
  color: #FFF;
  width: 100%;
}

.event-name {
  color: white !important;
  padding: 2px;
  display: inline-block;
}

.custom_calendar {
  width: 100px;
}
.day-cell {
  max-height: 100px;
  overflow-y: hidden;
}
</style>