<template>
  <div>
    <div class="col-12" style="background-color: #313131">
      <div class="p-2 text-center text-white">
        <h4>Active Users</h4>
      </div>
      <div class="">
        <select v-on:change="filterUsersByRole" v-model="selectedRole" name="role" id="role" style="width:450px" class="form-control">
          <option value="all" selected>All</option>
          <option value="Employee">employee</option>
          <option value="manufacturer">Manufacturer</option>
          <option value="clients">Clients</option>
        </select>
      </div>
      <ul class="list p-0">
        <li  v-for="user in filteredUsers" class="list-item w-50 p-10">
          <div class="list-group">
            <div class="list-group-item d-flex align-items-center">
              <img v-if="!user.profile.image" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="40px" class="rounded-sm ml-n2">
              <img v-else :src="user.profile.image" alt="" width="40px" class="rounded-sm ml-n2">
              <div class="flex-fill pl-3 pr-3">
                <div><a href="#" class="text-dark font-weight-600">{{user.name}}</a></div>
                <div class="text-muted fs-13px">{{user.email}}</div>
              </div>
              <div class="bg-dark col-4 h-100 p-0 text-center pt-2">
                <a href="#" class="btn btn-outline-light btn-sm" v-b-tooltip="'Audio Call'"><i class="fa fa-microphone"></i></a>
                  <a href="#" class="btn btn-outline-light btn-sm" v-b-tooltip="'Video Call'"><i class="fa fa-video-camera"></i></a>
                <a href="#" class="btn btn-outline-light btn-sm" v-b-tooltip="'Screen Share'"><i class="fa fa-tv"></i></a>
                <a href="#" class="btn btn-outline-light btn-sm" v-b-tooltip="'End Call'"><i class="fa fa-phone"></i></a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "ActiveUserComponent",
  data() {
    return {
      users: [],
      filteredUsers: [],
      selectedRole: 'all',
      showUserList: false,
    }
  },
  created() {

  },
  computed: {

  },
  mounted() {
    this.getUsers()
    this.$on("showUserList", item => {
      console.log('hello')
      this.showUserList = !this.showUserList
    });
  },
  methods: {
    getUsers() {
      let self = this

      axios.get('/api/admin/getAllUsers')
          .then(function (response) {
            if (response.data.type === 'success') {
              self.filteredUsers = self.users = response.data.users
              console.log(response.data.users)
            }
          })
          .catch(function (error) {
            console.log(error);
          });
    },
    filterUsersByRole() {
      let self = this
      self.filteredUsers = []
      let role = this.selectedRole
      if (role === 'all') {
        self.filteredUsers = self.users
      }
      else {
        this.users.forEach(function (user) {
          if (user.roles[0].name === role) {
            self.filteredUsers.push(user)
          }
        })
      }
    }
  },
}
</script>

<style scoped>
.list {
  max-height: 750px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 2px;
  list-style: none;
  /*padding: 10px 20px;*/
}
.list-item {
  display: flex;
  /*margin: 10px;*/
  /*padding-bottom: 5px;*/
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-group {
  min-width: 500px;
}
</style>