<template>
  <div>
    <div v-if="logged.roles[0].name !== 'demo'" class="col-12 p-0">
      <div class="row">
        <div class="col-4 m-0 p-0" v-if="showUsersList && logged.roles[0].name !== 'demo'">
          <active-user></active-user>
        </div>
        <div class="col-8 m-0 p-0" :class="showUsersList ? 'col-8' : 'col-12'">
          <div style="width: auto; background-color: #313131">
            <div class="mt-5 text-center">
              <a v-b-tooltip="'Disconnect'" v-if="logged.roles[0].name !== 'demo'" class="btn btn-danger" href="/login">
                <i class="fa fa-phone"></i>
              </a>
              <a v-else v-b-tooltip="'Disconnect'" class="btn btn-danger" href="/logout">Disconnect</a>
              <button v-b-tooltip="'Mute'" v-if="microphone" class="btn btn-success" @click="mute_audio">
                <i class="fa fa-microphone"></i>
              </button>
              <button v-b-tooltip="'Remove Mute'" v-else class="btn btn-danger" v-on:click="unmute_audio">
                <i class="fa fa-microphone-slash"></i>
              </button>
              <button v-b-tooltip="'Hide Video'" v-if="camera" class="btn btn-success" v-on:click="mute_video">
                <i class="fa fa-video-camera"></i>
              </button>
              <button v-b-tooltip="'Show Video'" v-else class="btn btn-danger" v-on:click="unmute_video">
                <i class="fa fa-file-video-o"></i>
              </button>
              <button v-b-tooltip="'Share Screen'" class="btn btn-success" v-on:click="screenShare">
                <i class="fa fa-tv"></i>
              </button>
            </div>

            <div class="p-2">
              <div class="row p-2" v-if="logged.roles[0].name !== 'demo'">
                <button v-on:click="showUsersList = !showUsersList" class="btn btn-default text-white btn-outline-success">
                  <i class="fa fa-bars"></i>
                </button>
              </div>
              <div>
                <div id="video-chat-window" class="row">
                  <div id="my-camera-preview" class="p-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        <div id="screen-preview" class="p-2"></div>-->
      </div>
    </div>
    <div class="col-12 p-0" v-else>
      <div class="row">
        <div class="col-4 m-0 p-0">
          <div style="width: auto; background-color: #313131">
            <div class="p-2">
              <div class="row p-2" v-if="showUsersList && logged.roles[0].name !== 'demo'">
                <button v-on:click="showUsersList = !showUsersList" class="btn btn-default text-white btn-outline-success">
                  <i class="fa fa-bars"></i>
                </button>
              </div>
              <div>
                <div id="video-chat-window" class="row demo ml-1">
                  <div id="my-camera-preview" class="p-2 demo"></div>
                </div>
                <div id="sample-section" class="row demo ml-1">
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                  <div class="p-2 demo"><div class="col-lg-3" style="width: 200px; height: 150px; font-size: 150px; border: 2px solid green"><i class="fa fa-video-camera"></i></div></div>
                </div>
              </div>
            </div>
            <div class="mt-5 text-center">
              <a class="btn btn-danger" href="/logout">Disconnect</a>
              <button v-if="microphone" class="btn btn-primary" @click="mute_audio">Mute</button>
              <button v-else class="btn btn-secondary" v-on:click="unmute_audio">Unmute</button>
              <button v-if="camera" class="btn btn-success" v-on:click="mute_video">Hide Video</button>
              <button v-else class="btn btn-danger" v-on:click="unmute_video">Show Video</button>
            </div>
          </div>
        </div>
        <div class="col-8 m-0 p-0">
            <div id="screen-preview" class="p-2"></div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'video-chat',
  props: {
    authCode: {
      type: String,
      default: '',
    },
    logged: {
      type: Object,
      default: {},
    }
  },  data: function () {
    return {
      accessToken: '',
      microphone: false,
      camera: false,
      room: '',
      createLocalVideoTrack: '',
      showUsersList: true,
    }
  },
  created() {

  },
  mounted: function () {
    let self = this
    navigator.permissions.query({ name: 'microphone' })
      .then(function(permissionStatus){
        if (permissionStatus.state === "granted") {
          self.microphone = true
        }
        else {
          alert('Please Allow Permission Browser For Microphone')
        }
        permissionStatus.onchange = function() {
          window.location.reload()
        }

      })
    navigator.permissions.query({ name: 'camera' })
      .then(function(permissionStatus) {
        if (permissionStatus.state === "granted") {
          self.camera = true
        }
        else {
          alert('Please Allow Permission Browser For Camera')
        }
        permissionStatus.onchange = function() {
          window.location.reload()
        }

      })
      this.getAccessToken()
      this.displayCameraPreview()

  },
  methods: {
    displayCameraPreview() {
      const {createLocalVideoTrack} = require('twilio-video');
      createLocalVideoTrack().then(track => {
        const localMediaContainer = document.getElementById('my-camera-preview');
        console.log(localMediaContainer, track, track.attach())
        localMediaContainer.appendChild(track.attach());
      });
    },
    getAccessToken: function () {
      let  self = this
      const axios = require('axios')

      axios.post('/access_token', {
        code: self.authCode
      })
          .then(function (response) {
            self.accessToken = response.data
            console.log(self.accessToken)
            self.connectToRoom()
          })
          .catch(function (error) {
            console.log(error);
          })
    },
    connectToRoom: function () {
      let self = this
      const {connect, createLocalVideoTrack} = require('twilio-video');

      connect(self.accessToken, {audio: self.microphone, video: { height: { min: 480, max: 720 }, frameRate: 24, width: { min: 640, max: 1280 } }, maxAudioBitrate: 16000 , name: 'myRoom', code: self.authCode}).then(room => {
        const videoChatWindow = document.getElementById('video-chat-window');
        const screenPreview = document.getElementById('screen-preview');

        self.room = room
        self.createLocalVideoTrack = createLocalVideoTrack
        room.on('participantConnected', participant => {
          participant.on('trackSubscribed', track => {
            console.log('participantConnected ', track.name)
            let section = document.createElement('div');
            if(track.name === 'screen') {
              screenPreview.appendChild(track.attach())
              let ele = document.querySelector("#screen-preview > video")
              ele.style.width = '1000px'
            }
            else  {
              section.setAttribute("id", participant.identity);
              section.setAttribute("class", "p-2 second");
              videoChatWindow.appendChild(section);
              section.appendChild(track.attach());
              self.addAttributeVideo()
              // videoChatWindow.appendChild(track.attach());
            }
          });
        });

        room.participants.forEach(participant => {
          let section = document.createElement('div');
          section.setAttribute("id", participant.identity);
          section.setAttribute("class", "p-2 hello");
          videoChatWindow.appendChild(section);
          participant.on('trackSubscribed', track => {
            console.log('trackSubscribed', track.name)
            if(track.name === 'screen') {
              screenPreview.appendChild(track.attach())
              let ele = document.querySelector("#screen-preview > video")
              ele.style.width = '1000px'
            }
            else {
              section.appendChild(track.attach());
              self.addAttributeVideo()
            }
            // videoChatWindow.appendChild(track.attach());
          });
        });

        // When a Participant leaves the Room, detach its Tracks.
        room.on("participantDisconnected", function(participant) {
          self.detachParticipantTracks(participant);
        });


        // Log your Client's LocalParticipant in the Room
        const localParticipant = room.localParticipant;
        console.log(`Connected to the Room as LocalParticipant "${localParticipant.identity}"`);

        // Log any Participants already connected to the Room
        room.participants.forEach(participant => {
          console.log(`Participant "${participant.identity}" is connected to the Room`);
        });

      }, error => {
        alert(error)
        console.error(error, `Unable to connect to Room: ${error.message}`);
      });
    },
    // Detach the Participant's Tracks from the DOM.
    detachParticipantTracks(participant) {
      let tracks = Array.from(participant.tracks.values());
      console.log('participant', participant.identity, 'tracks', tracks)
      document.getElementById(participant.identity).remove()
    },
    //mute audio of video chat
    mute_audio() {
      this.room.localParticipant.audioTracks.forEach(function(track) {
        let result = track.track.disable();
        console.log(result)
      })
      this.microphone = false;
    },
    //unmute audio of video chat
    unmute_audio() {
      this.room.localParticipant.audioTracks.forEach(function(track) {
        let result = track.track.enable();
        console.log(result)
      })
      this.microphone = true;
    },
    //mute video
    mute_video() {
      this.room.localParticipant.videoTracks.forEach(function(videoTrack) {
        videoTrack.track.disable();
      });
      this.camera = false;
    },
    //unmute video
    unmute_video() {
      this.room.localParticipant.videoTracks.forEach(function(videoTrack) {
        videoTrack.track.enable();
      });
      this.camera = true;
    },
    screenShare() {
      let self = this
      const { connect, LocalVideoTrack } = require('twilio-video');

      const videoChatWindow = document.getElementById('video-chat-window');
      navigator.mediaDevices.getDisplayMedia({
        mediaSource: 'window'
      }).then(function (stream) {
        console.log(self.room.localParticipant)
        self.room.localParticipant.publishTrack(stream.getTracks()[0], {name: 'screen'});
      });
    },
    fullScreen() {
      let ele = document.getElementById('screen-preview').firstChild;
      ele.setAttribute('controls', '')
      // let screen = ele.innerHTML
      // console.log(screen)
      // screen.setAttribute('control')
      // console.log(ele.innerHTML, document.querySelectorAll('video')[0])
    },
    addAttributeVideo() {
      let videoELe = document.querySelectorAll('video')
      videoELe.forEach(function (x) {
        if (!x.hasAttribute('controls')) {
          x.setAttribute('controls', '')
        }
      })
    },
  },
}
</script>

<style scoped>
video {
  width: 300px;
  height: 300px;
}
#screen-preview > video {
  width: 1000px;
  height: auto;
}
.demo > video,
.demo > .second > video,
.demo > .hello > video
{
  width: 200px;
  height: 150px;
}
</style>