<template>
  <div>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-header">
            Preview
          </div>
          <div class="card-body">
            <div class="w-50">
              <img :src="path" width="500px">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-header">
            Templates
          </div>
          <div class="card-body">
            <div class="row">
              <div v-for="template in templates" class="p-2 m-2">
                <img v-on:click="showImage(template)" :src="template.path" :alt="template.name" width="100px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="show" class="col-md-12 mt-5">
      <form enctype="multipart/form-data" @submit.prevent="submit">

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Title<span class="text-danger"></span></label>
              <input type="text" class="form-control valid" name="name" id="name" v-model="name"/>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label for="file">Image</label>
              <input type="file" class="form-control valid" name="file" id="file" v-on:change="onFileChange"/>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" class="form-control valid" name="description" id="description" v-model="description"></textarea>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <input type="submit" class="btn btn-success" value="Create Catalogue"/>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "templateComponent",

  props: ['templates'],

  data() {
    return {
      comment: '',
      path: '',
      file: '',
      name: '',
      description: '',
      show: false,
    };
  },

  created() {
    let self = this
  },
  methods: {
    showImage (image) {
      this.path = image.path
      this.show = true
    },
    onFileChange(e){
      console.log(e.target.files[0]);
      this.file = e.target.files[0];
    },
    submit(e) {


      e.preventDefault();
      let self = this;

      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }

      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('name', this.name);
      formData.append('description', this.description);

      axios.post(APP_URL+'/admin/catalogue/store', formData, config)
          .then(function (response) {
            console.log(response.data)
          })
          .catch(function (error) {
            self.output = error;
          });
      
    }
  },

  computed: {},

  mounted() {},

  watch: {},
}
</script>

<style scoped>

</style>