    /*
    Flaticon icon font: Flaticon
    Creation date: 10/03/2020 09:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-tour:before { content: "\f100"; }
.flaticon-report:before { content: "\f101"; }
.flaticon-cms:before { content: "\f102"; }
.flaticon-app:before { content: "\f103"; }
.flaticon-helmet:before { content: "\f104"; }
.flaticon-high-tech:before { content: "\f105"; }
.flaticon-real-estate:before { content: "\f106"; }
.flaticon-content:before { content: "\f107"; }
.flaticon-search:before { content: "\f108"; }
.flaticon-curriculum-vitae:before { content: "\f109"; }
    
    $font-Flaticon-tour: "\f100";
    $font-Flaticon-report: "\f101";
    $font-Flaticon-cms: "\f102";
    $font-Flaticon-app: "\f103";
    $font-Flaticon-helmet: "\f104";
    $font-Flaticon-high-tech: "\f105";
    $font-Flaticon-real-estate: "\f106";
    $font-Flaticon-content: "\f107";
    $font-Flaticon-search: "\f108";
    $font-Flaticon-curriculum-vitae: "\f109";